body {
	font-family: "museo-slab", georgia, serif;
}

body .slides.template-default section.biglogo {
	background: #fff url(../img/avatar-twitter0244x244.png) 50% 50% no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "futura-pt";
	font-weight: 700;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 10px;
}

html p, html li {
	font-size: .8em;
}

h1 {
	font-size: 3em;
}